@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-brand-blue: rgb(3, 124, 194);
  --color-sennheiser-gray: #f4f4f6;
  --color-sennheiser-footer: #013746;
  --color-metan-orange: #df532b;
  --color-neumann-orange: #ef7622;
  --color-merging-red: #fe6466;
  --color-dark-gray: #525252;
  --sennheiser-disabled-gray: rgb(173, 173, 173);
  --sennheiser-dark-gray: rgb(84, 82, 82);
  --sennheiser-very-light-gray: rgb(244, 244, 246);

  /* Font Family Mapping for Tailwind v4
     This maps the 'font-neumann' class to your local font variable 
  */
  --font-neumann: var(--font-ff-unit-pro);
}

@layer base {
  html, body {
    @apply antialiased font-sans;
    /* Remove any background-color lines from here */
  }
}